.panel--container
    height: 98vh

    .userList--container
        height: 100%
        width: 100%

        .userList--header
            text-align: center

        p-virtualScroller
            display: flex
            height: 90vh
            width: 25vw
