.news-feed-page
  width: 600px

.body-container
  display: flex
  flex-direction: rows
  justify-content: space-between
  padding: 10px 20px
  overflow-x: scroll

.body-container::-webkit-scrollbar
  display: none

.news-feed-image
  width: 300px
  height: 200px
  padding-right: 10px

.news-feed-video
  width: 300px
  height: 200px