
.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: -400px

.comment-and-like-box
  margin-top: 12px
  margin-bottom: -10px

.post-form
  margin-bottom: 50px
  place-items: center
  width: 100%

.cards
  margin-bottom: 10px

.like-list-button
  padding-right: 0

.upload-image
  padding-left: 30%

.text-posted
  padding: 20px
