
.login-container {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}
h2 {
  text-align: center;
}
.avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.avatar {
  width: 100px;
  height: 100px;
}

.email-error{
  color: red;
  font-size: 13px;
  text-align: left;
}

.agreement-error{
  display: none;
  color: red;
  font-size: 13px;
  // text-align: left;
}
.login-form {
  width: 300px;
  padding: 20px;
  border-radius: 4px;
 

  .form-group {
    margin-bottom: 15px;
  }
  label {
    font-weight: bold;
  }
  .form-input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .register-link {
    font-size: 15px;
    color: darkgray;
  }

  .btn {
    display: block;
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: #00a2ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #00748e;
  }

  .agreement-help {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: #00748e;
  }
}