.top-bar {
    border-bottom: 1px solid black;
    padding: 10px;
  }
  
  .setting-panel {
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    width: 80%;
    margin: auto;
  }
  
  .logout-wrapper {
    margin: 10px;
    text-align: center; /* To center the logout button horizontally */
  }
  
  .logout-btn {
    margin-top: 20px; /* Adjust as needed */
  }
  