header{
  text-align: center;
}
mat-card{
  margin: 0 auto;
  // margin-top: 100px;
}

.register-form {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: Helvetica;

    mat-form-field{
      width: 450px;
    }
    .register-submit{
      width: 450px;
    }
}
mat-card{
  width: 600px;
  height: 550px;
}

